.create_issue_form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5em;

	.divider {
		height: 1px;
		background-color: var(--borderLight);
	}

	.description_editor {
		& .ql-editor > p {
			min-height: 8rem;
		}
	}

	.save_button {
		width: fit-content;
	}
}

.dropdown_option_with_image {
	display: flex !important;
	align-items: center;
	justify-content: flex-start;
	gap: 0.375em;
}
