.dropdown_option_with_image {
	display: flex !important;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;
}

.issue_details_container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-gap: 0.5em;
	overflow-y: auto;
}

.issue_header {
	margin: 4px;
	display: flex;
	align-items: center;
	gap: 0.25em;
}

.issue_details {
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-gap: 1rem;
	overflow-y: auto;
}
