.dropdown_option_with_image {
	display: flex !important;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;
}

.issue_details_container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-gap: 1rem;
	overflow-y: auto;
}

.issue_header {
	margin: 4px;
	display: flex;
	align-items: center;
	gap: 0.25em;
}

.issue_details {
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-gap: 1rem;
}

.issue_type_select {
	cursor: pointer;
	min-width: 8rem;
	font-size: var(--fzSmallest);

	& .select__control {
		border: none;
	}
	& .select__control:hover {
		background-color: var(--backgroundLight);
		border: none !important;
		box-shadow: none;
	}

	& .select__single-value {
		color: var(--textMedium);
	}

	& .select__control:focus-visible,
	& .select__control:focus {
		outline: none;
		border: none;
	}

	&:focus-visible,
	&:focus {
		outline: none;
		border: none;
	}

	& .select__value-container:focus-visible,
	& .select__value-container:focus {
		outline: none;
		border: none;
	}

	& .select__input-container:focus-visible,
	& .select__input-container:focus {
		outline: none;
		border: none;
	}
}
