/* CSS Variables */

/* Colors */
:root {
	/* Basic Colors */
	--primary: rgb(0, 82, 204); /* Blue */
	--secondary: rgb(244, 245, 247); /* light grey */
	--success: rgb(11, 135, 91); /* green */
	--danger: rgb(225, 60, 60); /* red */
	--warning: rgb(248, 156, 28); /* orange */
	--ghost: transparent; /* transparent */
	--light: rgb(244, 245, 247); /* light grey */
	--dark: rgb(26, 26, 26); /* Dark grey */

	/* Light Variations */
	--primaryLight: rgb(0, 94, 235);
	--secondaryLight: rgb(235, 236, 240);
	--successLight: rgb(10, 125, 72);
	--dangerLight: rgb(201, 50, 50);
	--warningLight: rgb(216, 130, 43);
	--ghostLight: rgb(235, 236, 240);
	--lightLight: rgb(225, 227, 230);
	--darkLight: rgb(45, 45, 45);

	/* Dark Variations */
	--primaryDark: rgb(0, 75, 183);
	--secondaryDark: rgb(208, 210, 214);
	--successDark: rgb(8, 111, 66);
	--dangerDark: rgb(178, 42, 42);
	--warningDark: rgb(199, 123, 31);
	--ghostDark: rgb(223, 225, 230);
	--lightDark: rgb(208, 210, 214);
	--darkDark: rgb(51, 51, 51);

	/* Grayscale */
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);

	/* Text Colors */
	--textDarkest: rgb(23, 43, 77);
	--textDark: rgb(66, 82, 110);
	--textMedium: rgb(94, 108, 132);
	--textLight: rgb(137, 147, 164);
	--textLink: rgb(0, 82, 204);

	/* Background Colors */
	--backgroundDarkPrimary: rgb(7, 71, 166);
	--backgroundMedium: rgb(223, 225, 230);
	--backgroundLight: rgb(235, 236, 240);
	--backgroundLightest: rgb(244, 245, 247);
	--backgroundLightPrimary: rgb(210, 229, 254);
	--backgroundLightSuccess: rgb(228, 252, 239);

	/* Border Colors */
	--borderLightest: rgb(223, 225, 230);
	--borderLight: rgb(193, 199, 208);
	--borderInputFocus: rgb(76, 154, 255);
}

/* Fonts */
:root {
	--fontFamilyRegular: "CircularStdBook", sans-serif;
	--fontFamilyMedium: "CircularStdMedium", sans-serif;
	--fontFamilyBold: "CircularStdBold", sans-serif;
	--fontFamilyBlack: "CircularStdBlack", sans-serif;
}

:root {
	--fzSmallest: 0.75rem;
	--fzSmall: 0.875rem;
	--fzRegular: 1rem;
	--fzMedium: 1.125rem;
	--fzLarge: 1.25rem;
	--fzLargest: 1.5rem;
}
